@import url("./css/ui/progessbar.css");
@font-face{
	font-family:"PoiretOne";
	src: url("./font/PoiretOne.otf") format("opentype");
}
progessbar#init{
	width:		30%;
	margin: 	auto;
	position:	absolute;
	top:		0;
	left:		0;
	bottom:		0;
	right:		0;
}
progessbar#init > span{
	width:		100%;
}
ui#datetime{
	z-index: 2147483647 !important;
	display:	none;
	position:	absolute;
	left:		0;
	bottom:		0;
	width:		16em;
	height: 	7.5em;
	font-size: 	1.2em;
	border-radius: 0 5em 0 0;
	padding: 	0px;
}
ui#datetime.hover{
	border-radius: 0;	
	display:	table;
}
ui#datetime.hover>div{
	width:		40em;
	height: 	8em;
	margin: 	auto;
	position:	absolute;
	top:		0;
	left:		0;
	bottom:		0;
	right:		0;
}
ui#datetime.hover>div>div{
	width:		15em;
	vertical-align: top;
}
ui#datetime.hover>div>rss{
	padding-top: 0;
	font-size: 	0.5em;
	vertical-align: top;
}
ui#datetime>div>rss{
	display:	none;
}
ui#datetime>div>div>p{
	padding-left	: 1.0em;
}
ui#datetime>div>div>p#time{
	letter-spacing	: 0.8em;
    font-size		: 1.5em;
}

body{
	background-size:	cover; 
}
html{
	font-family:		"PoiretOne" , "Times New Roman";
	background-color:	#2a2a2a;
	color: 				#c0c0c0;
	cursor: 			url(img/cursor.png) , auto; 
}