ui{
	display: 			block;
	width:				10em;
	height:				10em;
	background-color:	#212121;
	line-height	:		2em;
	opacity: 			0.6;
	padding: 			0.8em;
	padding-top:		2em;
}
ui > span {
	background-color	: 	black;
	position			: 	absolute;
	top					: 	0;
	left				: 	0;
	padding				: 	0.4em;
	line-height			:	1.5em;
}